<div id="content">
</div>
<footer>
    <div class='row'>
        <div class='col-md-2 col-md-offset-1'>
            <p class='first'>Sell on Prancing Pony</p>
            <ul>
                    <li><a href="#">Merchant Handbook</a></li>
                    <li><a href="#">Sell an item</a></li>
            </ul>
        </div>

        <div class='col-md-2'>
            <p class='first'>Join the community</p>
            <ul>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Upcoming Events</a></li>
            </ul>
        </div>

        <div class='col-md-2'>
            <p class='first'>Discover and Shop</p>
            <ul>
                    <li><a href="#">Magical Items</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">From Elves</a></li>
                    <li><a href="#">From Hobbits</a></li>
            </ul>
        </div>

        <div class='col-md-2'>
            <p class='first'>Get to know us</p>
            <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Developers</a></li>
            </ul>
        </div>

        <div class='col-md-2'>
            <p class='first'>About Linh Bui</p>
            <ul>
                    <li><a href="http://linhbui.me">Website</a></li>
                    <li><a href="https://github.com/linhbui/prancing_pony">Check out the code</a></li>
                    <li><a href="http://linkedin.com/in/linhphuongbui">LinkedIn</a></li>
                    <li><a href="http://twitter.com/linhpbui">Twitter</a></li>
            </ul>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function(){
      PrancingPony.initialize();
    });
</script>
