// Place all the styles related to the Api::CategoryItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-header {
    border-bottom: 1px solid #D7D7D4;
    background-color: #F9F9F7;
}

.row.row-category.clear {
    margin-left: 150px;
    margin-right: 150px;
}
