// Place all the styles related to the Api::Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-curate {
    border-bottom: 1px solid #D7D7D4;
    background-color: #F9F9F7;
}

.row.row-author.clear {
    margin-left: 150px;
    margin-right: 150px;
}

.img-circle.curated-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#favorite-all-header {
    padding-left: 13.5%;
    margin-top: 26px;
    margin-bottom: 26px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #565A5C;
}
