<div class="category-header">
    <div class="row row-category clear">
            <img src="http://img3.wikia.nocookie.net/__cb20140329102507/seigneur-des-anneaux/fr/images/f/f9/Arwen2.jpg"  class="img-circle curated-avatar"></a>
        Curated by <a href="#">Arwen</a>
    </div>
</div>
<h2 id="favorite-all-header"> 
    Items In This Category 
</h2>
<div class="index-view">
</div>

