<div class="category-header">
    <div class="row row-category clear">
    <h2 id="category-tagname"></h2>

    <p id="category-description"></p>
    </div>
</div>
<h2 id="favorite-all-header"> 
    Items In This Category 
</h2>
<div class="index-view">
</div>

