<h2 style="padding-left: 20px; font-family: serif;"> 
    <% var url = document.URL; %>
    <% var location = url.slice(23, url.length); %>
    <% if (location == "favorites") { %>
       <%= "Your Favorites" %>
       <% } else { %>
           <%= "Your feed" %>
       <% } %>
</h2>

<br>
<div class="list-items">
</div>
<a href="#/items/new">Clik me to create an item ;)</a>

