<h2 style="text-align: center;"> Your feed </h2>
<br>
    <div class="list-items js-masonry"
        data-masonry-options='{ "columnWidth": 200, "itemSelector":".thumbnail" }'>
    </div>
<a href="#/items/new">Clik me to create an item ;)</a>

