<h3>This is the item show page ;) </h3>

<div id='item-body' class='shop-container'>
	<div class='left'>
		<div id='item-image'>
                   <img src=<%= item.escape("image_url") %> alt="...">
		</div>
		
		<div id='item-description'>
	            Description	
	        </div>  	
		<div id='item-review'>
                    Reviews
                </div>
		
	</div>
	
	<div class='right'>
		<div class='right-container'>
			<div id='item-right' class='right-default'>
				<div class='right-top'>
					<h4 class='bold'> <%= item.escape('title') %> </h4>
					<h4 class='bold'> $<%= item.escape('price') %> silvers</h4>
				</div>
			
				<div class='right-body'>
					<p class='bold underline'> Overview </p>
					<ul id='overview'>
						<li> Available: <%= item.escape('quantity') %> </li>
                                                <li> Reviews summary here maybe? </li>
					</ul>
				</div>
			
				<div class='right-bottom'>
					<button class='btn' id='add-cart-button'>Add to Cart</button>
				</div>
			</div>
		</div>
		
	</div>
	
</div>
