<div id="root-background">
</div>
<div class='users_form' class="col-xs-6 col-xs-offset-3">
<h1 style="color: white;">Sign Up</h1>
<form action="<%= users_url %>"
      method="POST"
      style="margin:0 auto; width: 20%;">
      
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
      
      <div class="form-group">
      <input type="text"
             name="user[username]"
             class="form-control"
             placeholder="Username">
      </div>
      <div class="form-group">
          <input type="password"
                 name="user[password]"
                 class="form-control"
                 placeholder="Password">
      </div>
        
      <input type="submit" 
             value="Sign Up" 
             class="btn btn-info"
             style="width: 70%; margin-bottom: 5px; margin-left: 15%">
</form>



</div>
