<div class='show-cart'>
    <div class="row">
        <div class="cart-count-top col-md-6 col-md-offset-1" style="padding-left: 55px;"> <%= cart.count() %> items in your cart
        </div>  
        <div class="row col-md-2 col-md-offset-2">
            <button class="btn btn-info push" id="keep-shopping">Keep Shopping</button>
        </div>
    </div>
    <br>
    <div class='row cart-item-rows' id='cart-row'>
        <div id="cart-grey">
            
        </div>
        <div class='col-md-8 cart-left'>
            <div id="cart-items-list">
                
            </div>

        </div>

        <div class="cart-right col-md-4">
        <button  class='push btn btn-success' id="place-order">
            Place your order 
        </button>
        <div class="order-summary">
           <h4>Order Summary</h4> 
           <div class="row order-summary-first">
               <div class="col-md-8">
                  Items: 
               </div>
                <div class="col-md-4 price">
                    <%= cart.totalPrice() %> silvers
                </div>
               <div class="col-md-8">
                  Shippings and handlings: 
               </div>
                <div class="col-md-4 price">
                    0 silvers 
                </div>
            </div>

           <div class="row order-summary-first">
               <div class="col-md-8">
                  Total before Tax: 
               </div>
                <div class="col-md-4 price">
                    <%= cart.totalPrice() %> silvers 
                </div>
               <div class="col-md-8">
                   Estimated tax to be collected:
               </div>
                <div class="col-md-4 price">
                    0 silvers 
                </div>
            </div>
           <div class="row order-summary-final">
               <div class="col-md-5">
                  Total: 
               </div>
                <div class="col-md-7 price">
                    <%= cart.totalPrice() %> silvers
                </div>
            </div>
        </div>
    </div>
</div>
