<div class='show-cart'>
    <div class="row">
        <div class="cart-count-top col-md-8"> <%= cart.count() %> items in your cart
        </div>  
        <div class="row col-md-2 col-md-offset-2">
            <button class="btn btn-info" id="keep-shopping">Keep Shopping</button>
        </div>
    </div>
    <br>
    <div class='row cart-item-rows' id='cart-row'>
        <div id="cart-grey">
            
        </div>
        <div class='col-md-8 cart-left'>
            <div id="cart-items-list">
                
            </div>

        </div>

        <div class="cart-right col-md-4">
           Payment stuffs here 
           </br>
        Total
        <%= cart.totalPrice() %>
        </div>
    </div>
</div>
