/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*general*/
body {
    padding-top: 50px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.center {
    text-align: center;
}

.index-view {
    margin-left: 12.5%;
    margin-right: 12.5%;
}
#dummybodyid {
    background-color: #f5f5f1;
    width: 100vw;
}

.navbar.navbar-default.navbar-fixed-top {
    margin-bottom: 0px;
}
.strong {
    color: yellow;
}

.container h1 {
    text-align: center;
}

#content {
    overflow: auto;
    margin: 0 auto;
}

#content p {
    font-size: 16px;
    color: #6F6666;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}
/*navbar*/
.navbar-brand img {
    height: 50px;
    position: fixed;
    display: inline-block;
    left: 5px;
    top: 0px;
}

#sign-out-button{
    border-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    background-color: #F8F8F8;
}

#sign-out-button:hover {
    color: black;
}

/*footer*/
footer {
    margin-top: 20px;
    height: 200px;
    border-top: 1px solid #E7E7E4;
    color: #B8DCE5;
}

.first {
    padding-top: 20px;
    color: black;
}

footer li {
    list-style: none;
    padding-bottom: 10px;
}

footer ul {
    padding-left: 0px;
}

/*carousel*/
.next{
    width: 100%;
    height: 450px;
}
.carousel-inner > .item > img{
       width:100%;
       height:450px;
}
.carousel-inner>.active { width: 100% }

#carousel-example-generic .carousel-inner .left {
    margin-top: 0px;
}
#carousel-example-generic .carousel-inner .right {
    margin-top: 0px;
}

/* Push: Credited to IanLunn!*/
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.push {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.push:hover, .push:focus, .push:active {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Border Fade */
.border-fade {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #A1CB59, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.border-fade:hover, .border-fade:focus, .border-fade:active {
  box-shadow: inset 0 0 0 4px #666666, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
/* Grow */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
